{% extends "base.html" %}
<div>

{% block content %}
<br><br><br><br>
       <div class="container">
 
  <h2>Edit user</h2>
  <form  action="" method="post" role="form" class="col-xs-3">
    {{ form.csrf }}
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name" required="true" value={{form.name}}>
      <label for="email">Email:</label>
      <input type="text" class="form-control" id="email" name="email" required="true" value={{form.email}}>
      <label for="phone">Phone:</label>
      <input type="text" class="form-control" id="phone" name="phone" value={{form.phone}}>
      <label for="cell">Cell:</label>
      <input type="text" class="form-control" id="cell" name="cell" value={{form.cell}}>
      <label for="status">Status:</label>
      <select class="selectpicker show-menu-arrow" id="status" name="status" value={{ form.status }}>
        <option>Active</option>
        <option>Inactive</option>
      </select>
    </div>

    <select class="selectpicker show-menu-arrow" id="status" name="status" value={{ form.status }}>   
        {% for course in form.courses %}
            <option>{{course.name}}</option> 
        {% endfor %}

    </select>
    <a href="/new_user">
        <span class="glyphicon glyphicon-plus" aria-hidden="false"></span>
    </a>

    <table class="table">
        <thead>
          <tr>
            <th>Courses</th>
          </tr>
        </thead>
        <tbody>
          {% for course in form.users_courses %}    
          <tr>
            <td>{{course.name}} </td>
                <a href="/edit_user/{{user.id}}">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="false"></span>
                </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
 
  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}
 
            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
</div>
</div>
</div>

</div>

{% endblock %}
    
